
@font-family-base: 'Open Sans', sans-serif;

@icon-margin-ratio: 2;
@icon-resize-ratio: 1.6;

@icon-size: 24px;
@small-icon-size: 14px;
@padding-left-square: 8px;
@square-btn-size: @padding-left-square * 2 + @icon-size;

@icon-size-md: floor(@icon-size / @icon-resize-ratio);
@padding-left-square-md: floor(@icon-size-md / @icon-margin-ratio);
@square-btn-medium-size: @padding-left-square-md * 2 + @icon-size-md;

@icon-size-sm: floor(@icon-size-md / @icon-resize-ratio);
@padding-left-square-sm: floor(@icon-size-sm / @icon-margin-ratio);
@square-btn-small-size: @padding-left-square-sm * 2 + @icon-size-sm;